**/*.db
**/*.pcap
*.idea
*.iml
**.*.orig

*.pyc

**/*.log
**/.classpath
**/.project
**/.settings
**/bin
**/lib
*.sqlite3
*.swp
pyvenv.cfg

**/minnow.yml
**/celerybeat-schedule
__pycache__

node_modules/
env/

